:root {
  --black-color: #2c2c2c;
  --white-color: #fefefe;
  --dark-green: #7eb101;
  --button-green: #bbf330;
  --yellow-main: #ffe550;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: var(--white-color);
  color: var(--black-color);

  font-family: 'roboto', sans-serif;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include mobile {
    width: 320px;
  }

  @include tablet {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include desktop {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
